{% extends 'website/base.html' %}{% load staticfiles %}
{% block tab_title %}No encontrado (404){% endblock tab_title %}
{% block meta %}{% endblock meta %}
{% block content %}
    {% include 'website/includes/title_bar.html' with page_title='No hemos encontrado lo que buscas' %}<br>
    <!-- Container -->
    <div class="container">
        <!-- Container -->
        <div class="container">

            <div class="sixteen columns">
                <section id="not-found">
                    <h2>404 <i class="fa fa-question-circle"></i></h2>
                    <p>Ups! Lo sentimos, parece que te has perdido.</p>
                    <a href = '{% url 'website:index' %}'>Inténtalo de nuevo :)</a>
                </section>
            </div>

        </div>
        <!-- Container / End -->

        <div class="margin-top-50"></div>
    </div>
{% endblock %}