{% load staticfiles %}

<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <title>VINTAGEAME | {% block tab-title %}{% endblock tab-title %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        {% block metadatos %}{% endblock metadatos %}
        {% include 'website/includes/styles.html' %}
        {% block custom_css %}{% endblock custom_css %}
        <link rel = "stylesheet" href = "{% static 'css/my_styles.css' %}">
    </head>
    <body>
        {% include 'website/includes/push_menu.html' %}
        <div class="wrappage">
            {% include 'website/includes/header.html' %}
            {% block content %}{% endblock content %}
            {% include 'website/includes/base_footer.html' %}
        </div>
        {% include 'website/includes/scripts.html' %}
        {% block custom_js %}{% endblock custom_js %}
    </body>
</html>