{% extends 'website/base.html' %}{% load staticfiles %}
{% block tab_title %}Inicio{% endblock tab_title %}
{% block meta %}
    <meta name="description" content = "Tienda Online de Productos Vintage. El sitio creado especialmente para los que saben valorar lo que no pasa de moda. Somos amantes del buen gusto y el amor por lo clásico.">
    <meta name="keywords" content = "productos vintage, articulos vintage, vintage">
    <link rel="image_src" href = "{% static 'extra/images/productos vintage.jpg' %}"/>
    <link rel = 'canonical' href = 'https://www.productos-vintage.com'>
{% endblock meta %}
{% block content %}
    {% include 'website/includes/title_bar.html' with page_title='Productos Vintage' %}<br>
    <div class="container">
        {% include 'website/includes/page_description_header.html' with text='¡¡¡Bienvenido a nuestra tienda online de productos vintage!!! Un sitio de encuentro para los amantes de lo clásico y el deleite por lo que nunca pasará de moda. Tu oportunidad para apreciar lo retro, amar lo antiguo y retornar al pasado. Nuestros artículos vintage esperan formar parte de tu vida, no pierdas tiempo y encuentra entre ellos ese que tanto has buscado…' %}<br>
        <h2 class = 'font-vintage justify' style="text-align: center"><u>Categorías</u></h2><br>
        <div id="portfolio-wrapper">
            {% for categoria in categorias %}
                {% include 'productos/includes/categoria.html' with width='four' %}
            {% endfor %}
        </div><br>
    </div>
    <div class="container">
        <h3 class = 'font-vintage justify'>
            ¿Por qué comprar en Vintangeame?<br>
            Para tu suerte, nuestra tienda además de estar diseñada para todos los gustos, también cuenta con stock debidamente actualizado y ordenado. A través de las categorías podrás navegar entre lo mejor en productos vintage y disfrutar de increíbles descuentos.<br>
            ¿Quieres más motivos?<br>
            Nuestros artículos Vintage son procedentes de proveedores debidamente validados en el mercado. Esto se debe a que nuestra tienda Vintangeame trabaja en colaboración con Amazon Markets. Antes de comprar algún producto podrás revisar su evaluación, analizar su puntuación, y leer las opiniones de otros consumidores de productos vintage. En fin, en Vintangeame accederás a increíbles vestigios del pasado, y disfrutarás de la garantía que nunca encuentras y que tanto te mereces.<br>
            ¡¡¡Vintangeate!!!
        </h3><br>
    </div>
{% endblock content %}
{#{% block custom_js %}#}
{#    <script src="{% static 'extra/scripts/my_scripts.js' %}"></script>#}
{#{% endblock custom_js %}#}