/* Aditional Menu
------------------------------------- */
#aditional_menu {
    margin-top: 34px;
}

/* Logo
------------------------------------- */

#logo {
    margin-top: 14px;

}

.top-search {
    margin: 0;
    padding-bottom: 14px;
}
/*.top-search input { width: 100%; }*/

#logo a img {
	float: left;
    width: 220px;
    height: auto;
    margin-bottom: 14px;
}

.titlebar {
	padding: 0;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

#slider-range2 { margin: 0 0 16px 0; }

.margin-left { margin-left: 20px; }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.top-search input { width: 220px }
	.top-search { float: right; }
    #logo a img {
        margin-bottom: 0;
    }
}

@font-face {
    font-family: Vintage;
    /*src: url('../../extra/fonts/CANDY___.otf');*/
    /*src: url('../../extra/fonts/Beautiful_People.ttf');*/
    /*src: url('../../extra/fonts/Painter_PERSONAL_USE_ONLY.ttf');*/
    /*src: url('../../extra/fonts/Variane Script.ttf');*/
    /*src: url('../../extra/fonts/Bohem Press Free.ttf');*/
    /*src: url('../../extra/fonts/PrequelDemo-Regular.ttf');*/
    font-display: auto;
    src: url('../../extra/fonts/Blenda Script.otf');
}

.font-vintage {
    font-family: Vintage, Helvetica, sans-serif;
}

.justify {
    text-align: justify;
}

a, .happy-clients-author, #categories li li a.active span, #categories li li a.active, #additional-menu ul li a:hover, #additional-menu ul li a:hover span, .mega a:hover, .mega ul li p a, #not-found i, .dropcap, .list-1.color li:before, .list-2.color li:before, .list-3.color li:before, .list-4.color li:before, .comment-by span.reply a:hover, .comment-by span.reply a:hover i, #categories li ul li a:hover span, #categories li ul li a:hover, table .cart-title a:hover, .st-val a:hover, .meta a:hover {
    color: #0A2D42;
}

.top-search button:hover, .cart-buttons a, .cart-buttons a.checkout, .menu > li:hover .current, .menu > li.sfHover .current, .menu > li:hover, .menu > li.sfHover, li.dropdown ul li a:hover, #jPanelMenu-menu li a:hover, input[type="button"], input[type="submit"], a.button, a.button.color, a.button.dark:hover, a.button.gray:hover, .icon-box:hover span, .tp-leftarrow:hover, .tp-rightarrow:hover, .sb-navigation-left:hover, .sb-navigation-right:hover, .product-discount, .newsletter-btn, #categories li a:hover, #categories li a.active, .flexslider .flex-prev:hover, .flexslider .flex-next:hover, .rsDefault .rsArrowIcn:hover, .hover-icon, #backtotop a:hover, #filters a:hover, #filters a.selected {
    background-color: #0A2D42;
}

.top-bar-dropdown ul li a:hover, .skill-bar-value, .counter-box.colored, a.menu-trigger:hover, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .tabs-nav li.active a, .dropcap.full, .highlight.color, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .trigger.active a, .trigger.active a:hover, .share-buttons ul li:first-child a, a.caption-btn:hover, .mfp-close:hover, .mfp-arrow:hover, .img-caption:hover figcaption, #price-range .ui-state-default, .selectricItems li:hover, .product-categories .img-caption:hover figcaption, .rsDefault .rsThumbsArrow:hover, .customSelect .selectList dd.hovered, .qtyplus:hover, .qtyminus:hover, a.calculate-shipping:hover, .og-close:hover, .tags a:hover {
    background: #C59659;
}

.item-description span {
    color: #C59659;
}

#footer h3.footer {
    color: #fff;
    background: #C59659;
    text-transform: uppercase;
}

#footer {
    background: #C59659;
    color: #ffffff;
}

#footer-bottom {
    background: #0A2D42;
    color: #ffffff;
}

input.newsletter {
    background-color: #F5F5F5;
}

a.button.color:hover {
    background-color: #C59659;
}

.rating .star-bg::after, .rating .star-rating::after {
    letter-spacing: 1px;
}