{% load staticfiles %}
<div id="footer-bottom">
    <div class="container">
        <div class="eight columns">
            <a href = 'https://blog.productos-vintage.com'>Blog</a> |
            <a href = '{% url 'website:aviso_legal' %}'>Aviso Legal</a> |
            <a href = '{% url 'website:politica_privacidad' %}'>Política de Privacidad</a> |
            <a href = '{% url 'website:politica_cookies' %}'>Política de Cookies</a><br>
            © Copyright 2019 por <a href="https://www.magestree.com">Magestree Network SL</a>. Todos los derechos reservados.
        </div>
        <div class="eight columns">
            <ul class="payment-icons">
                <li><img src="{% static 'images/visa.png' %}" alt="Visa" /></li>
                <li><img src="{% static 'images/mastercard.png' %}" alt="Master Card" /></li>
            </ul>
        </div>
    </div>
</div>