/*El objetivo de esta hoja de estilos es sobreescribir los estilos por defecto del template sin tener que modificar estos*/
.e-gradient, .blog-post-social a:hover, .blog-comment-item .cmt-content .btn-author:hover, .social a:hover {
    background: #C8985A;
    background-image: linear-gradient(122deg, #0A2B3F, #C8985A);
}

.e-pink-gradient {
    background: #7C9AA5;
    background-image: linear-gradient(122deg, #7C9AA5, #B0C4CC);
}

.e-pink-gradient:hover {
    color: #fff;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(124, 154, 165, 0.68);
    box-shadow: 0px 2px 20px 2px rgba(124, 154, 165, 0.68);
}

.btn-gradient, .product-tab-sw li a:hover, .product-tab-sw li.active a, .product-tab-sw2 li a:hover, .product-tab-sw2 li.active a {
    color: #fff;
    font-weight: 500;
    background: #C8985A;
    background-image: linear-gradient(122deg, #0A2B3F, #C8985A);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn-gradient:hover, .product-tab-sw li a:hover, .product-tab-sw2 li a:hover {
    color: #fff;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(176, 196, 204, 0.68);
    box-shadow: 0px 2px 20px 2px rgba(176, 196, 204, 0.68);
}

.cmt-title.v2 .oval-bd {
  width: 439px;
  height: 57px;
  line-height: 57px;
  background: #C8985A;
  background-image: linear-gradient(122deg, #0A2B3F, #C8985A);
  border: 0;
}

.product-rating {
    display: initial;
}

.desc-list {
    display: initial;
}

span.star-empty {
    color: #bfbfbf;
}

just_reference {
    color: #0A2B3F; /*Azul oscuro rgba(10, 43, 63, 1)*/
    color: #7C9AA5; /*Gris oscuro rgba(124, 154, 165, 1)*/
    color: #B0C4CC; /*Gris claro rgba(176, 196, 204, 1)*/
    color: #C8985A; /*Carmelita claro rgba(200, 152, 90, 1)*/
}