{% extends 'website/base.html' %}
{% load staticfiles %}
{% block tab_title %}{% endblock tab_title %}
{% block meta %}
    <meta name = 'description' content = 'Productos vintage de {{ categoria.nombre }}'>
    <meta name = 'keywords' content = '{{ categoria }} vintage, productos vintage {{ categoria.nombre }}, vintage {{ categoria.nombre }}, {% for producto_keyword in productos_keywords %}{{ producto_keyword.partial_name }} vintage, {% endfor %}'>
    <link rel = 'image_src' href = '{{ categoria.producto_set.all.first.url_imagen_principal }}'/>
    <link rel = 'canonical' href = 'https://www.productos-vintage.com'>
{% endblock meta %}
{% block content %}
    {% block page_title %}{% endblock page_title %}<br>
    <div class="container">
        {% if categoria.descripcion_breve %}
            {% include 'website/includes/page_description_header.html' with text=categoria.descripcion_breve %}<br>
        {% endif %}
        {% block productos %}{% endblock productos %}
    </div>
    <div class="container margin-bottom-20">
        <div class="sixteen columns">
            {% if categoria.descripcion %}
                <h3 class = 'font-vintage justify' style="text-indent: 40px;">{{ categoria.descripcion }}</h3>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="sixteen columns">
            <h3 class = 'font-vintage justify' style="text-align: center">También puedes encontrar en nuestra tienda, productos vintage de:</h3><br>
            <div id="portfolio-wrapper">
                {% for categoria in categorias_footer %}
                    {% include 'productos/includes/categoria.html' with width='three' %}
                {% endfor %}
            </div>
            <br>
            <a href = '{% url 'website:index' %}' class = 'button color text-center centered'>Ver todas las categorías de productos vintage</a>

            <br>
            {% if categoria.texto_seo %}
                <h3 class = 'font-vintage justify' style="text-indent: 40px;">{{ categoria.texto_seo }}</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}{% block fbpixel %}
            fbq('track', 'ViewContent', {content_name: "{{ categoria.url_amigable }}"});
{% endblock fbpixel %}
{% block custom_js %}
    <script src="{% static 'extra/scripts/categoria.js' %}"></script>
    <script src="{% static 'extra/scripts/my_scripts.js' %}"></script>
{% endblock custom_js %}