{% extends 'website/base.html' %}{% load staticfiles %}
{% block tab-title %}
    Categorías de Productos Vintage
{% endblock tab-title %}
{% block metadatos %}
    <meta name = "description" content = "">
    <meta name = "keywords" content = "">
    <link rel = "image_src" href = "" />
{% endblock %}
{% block content %}
    {% include 'productos/includes/categorias/bienvenida_categorias.html' %}
    {% include 'productos/includes/categorias/todas_categorias.html' %}
    <br>
    <br>
{% endblock content %}