{% extends 'productos/base.html' %}
{% block tab_title %}{{ descuentos.tab_title }}{% endblock tab_title %}
{% block page_title %}{% include 'website/includes/title_bar.html' with page_title=descuentos.page_title %}{% endblock page_title %}
{% block page_description %}{{ descuentos.page_description }}{% endblock page_description %}
{% block productos %}
    <div class="twelve columns">
        {% include 'productos/includes/ordenar_productos.html' with selector="descuentos" %}
    </div>
    <div class="twelve columns products">
        {% for producto in productos_descuento %}
            {% include 'productos/producto.html' %}
        {% endfor %}
        <div class="clearfix"></div>
{#        {% include 'productos/includes/paginar_productos.html' %}#}
    </div>
{% endblock productos %}