{% extends 'productos/base.html' %}{% block tab_title %}{{ categoria.nombre }}{% endblock tab_title %}
{% block page_title %}{% include 'website/includes/title_bar.html' with page_title=categoria.nombre %}{% endblock page_title %}
{% block productos %}
    <span id = 'categoria_id' class = '{{ categoria.id }}'></span>
    <div class = 'container'>
        <div class="eight columns">{% include 'productos/includes/ordenar_productos.html' with selector="descuentos" %}</div>
        <div class="eight columns">{% include 'website/includes/sidebar/price_filter.html' %}</div>
    </div>
    <hr>
    <div id="portfolio-wrapper">
        {% for producto in productos %}
            {% include 'productos/includes/producto.html' %}
        {% endfor %}
    </div>
{% endblock productos %}