{% load staticfiles %}

<!-- Feature v2 -->
<div class="e-feature">
    <div class="container container-240">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 feature-item" align="center">
                <div class="feature-info">
{#                    <h1>La tienda online de los que aman el VINTAGE</h1>#}
                    <h1><a href = '{% url 'website:prueba' %}'>ESTO ES UNA PRUEBA DE LINK PARA LUISO</a></h1>
{#                    <h4 style="text-align: justify">Has llegado a la tienda especializada en lo que buscas... ¡VINTAGE! El lugar ideal para encontrar todo aquello que no pasa de moda y que te identifica como la persona que eres. Busca entre cientos de productos que hemos organizado para ti, encuentra rebajas y oportunidades únicas en artículos vintage, y mantén aquello que importa, TU IDENTIDAD</h4>#}

                </div>
            </div>
        </div>
    </div>
</div>