{% load staticfiles %}

<!-- Category -->
<div class="category-list spc5">
    <div class="container container-240">
        <div class="ecome-heading style5 spc5v2">
            <h1>Categorías</h1>
            <a href="#" class="btn-show">Ver todas...<i class="ion-ios-arrow-forward"></i></a>
        </div>

        <div class="owl-carousel owl-theme owl-cate v3 js-owl-cate">
            {% for categoria in categorias %}
                {% include 'productos/includes/categorias/categoria_item.html' %}
            {% endfor %}
        </div>
    </div>
</div>