{% load staticfiles %}

<div class="container container-240">
    <div class="brand">
        <div class="ecome-heading style5v2 spc4">
            <h1>Shop by brand</h1>
            <a href="#" class="btn-show">Shop more<i class="ion-ios-arrow-forward"></i></a>
        </div>
        <div class="owl-carousel owl-theme owl-brand js-owl-brand">
            {% for marca in marcas %}
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="{% static 'img/brand/brand.png' %}" alt=""></a>
                </div>
            {% endfor %}
        </div>
        <div class="about-brand">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-3 col-md-4">
                    <div class="about-brand-info text-center">
                        <div class="brand-img">
                            <a href="#" class="hover-images"><img src="{% static 'img/brand/sony_info.png' %}" alt=""></a>
                        </div>
                        <div class="brand-info">
                            <p>All the Lorem Ipsum generators on the Internet
                                <br> tend to repeat predefined chunks as necessary, making this the first true generator on the Internetandful
                                <br> of model sentence </p>
                        </div>
                        <a href="#" class="btn-gradient btn-brand">Shop this brand <i class="ion-ios-arrow-forward"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-8 col-md-8">
                    <div class="row engoc-equal-row">
                        <div class="col-xs-6 col-sm-6 col-md-6 product-item">
                            <div class="pd-bd product-inner v2">
                                <div class="flex align-center">
                                    <div class="product-img">
                                        <a href="#"><img src="{% static 'img/product/tplink.jpg' %}" alt="" class="img-reponsive"></a>
                                    </div>
                                    <div class="product-info">
                                        <div class="color-group">
                                        </div>
                                        <div class="element-list element-list-left">
                                        </div>
                                        <div class="element-list element-list-middle">
                                            <p class="product-cate">Audio Speakers</p>
                                            <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                            <div class="product-bottom v2">
                                                <div class="product-price"><span>$1,215.00</span></div>
                                                <div class="product-bottom-element flex">
                                                    <a href="#" class="btn-icon btn-view">
                                                        <span class="icon-bg icon-view"></span>
                                                    </a>
                                                    <div class="color-group">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-button-group hidden-xs hidden-sm">
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-cart"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-wishlist"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-compare"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group hidden-md hidden-lg">
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-cart"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-wishlist"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-compare"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 product-item">
                            <div class="pd-bd product-inner v2">
                                <div class="flex align-center">
                                    <div class="product-img">
                                        <a href="#"><img src="{% static 'img/product/wifi.jpg' %}" alt="" class="img-reponsive"></a>
                                    </div>
                                    <div class="product-info">
                                        <div class="color-group">
                                        </div>
                                        <div class="element-list element-list-left">
                                        </div>
                                        <div class="element-list element-list-middle">
                                            <p class="product-cate">Audio Speakers</p>
                                            <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                            <div class="product-bottom v2">
                                                <div class="product-price"><span>$1,215.00</span></div>
                                                <div class="product-bottom-element flex">
                                                    <a href="#" class="btn-icon btn-view">
                                                        <span class="icon-bg icon-view"></span>
                                                    </a>
                                                    <div class="color-group">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-button-group hidden-xs hidden-sm">
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-cart"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-wishlist"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-compare"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group hidden-md hidden-lg">
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-cart"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-wishlist"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-compare"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 product-item">
                            <div class="pd-bd product-inner v2">
                                <div class="flex align-center">
                                    <div class="product-img">
                                        <a href="#"><img src="{% static 'img/product/phone5.jpg' %}" alt="" class="img-reponsive"></a>
                                    </div>
                                    <div class="product-info">
                                        <div class="color-group">
                                        </div>
                                        <div class="element-list element-list-left">
                                        </div>
                                        <div class="element-list element-list-middle">
                                            <p class="product-cate">Audio Speakers</p>
                                            <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                            <div class="product-bottom v2">
                                                <div class="product-price"><span>$1,215.00</span></div>
                                                <div class="product-bottom-element flex">
                                                    <a href="#" class="btn-icon btn-view">
                                                        <span class="icon-bg icon-view"></span>
                                                    </a>
                                                    <div class="color-group">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-button-group hidden-xs hidden-sm">
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-cart"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-wishlist"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-compare"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group hidden-md hidden-lg">
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-cart"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-wishlist"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-compare"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 product-item">
                            <div class="pd-bd product-inner v2">
                                <div class="flex align-center">
                                    <div class="product-img">
                                        <a href="#"><img src="{% static 'img/product/logitech.jpg' %}" alt="" class="img-reponsive"></a>
                                    </div>
                                    <div class="product-info">
                                        <div class="color-group">
                                        </div>
                                        <div class="element-list element-list-left">
                                        </div>
                                        <div class="element-list element-list-middle">
                                            <p class="product-cate">Audio Speakers</p>
                                            <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                            <div class="product-bottom v2">
                                                <div class="product-price"><span>$1,215.00</span></div>
                                                <div class="product-bottom-element flex">
                                                    <a href="#" class="btn-icon btn-view">
                                                        <span class="icon-bg icon-view"></span>
                                                    </a>
                                                    <div class="color-group">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-button-group hidden-xs hidden-sm">
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-cart"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-wishlist"></span>
                                            </a>
                                            <a href="#" class="btn-icon">
                                                <span class="icon-bg icon-compare"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button-group hidden-md hidden-lg">
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-cart"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-wishlist"></span>
                                    </a>
                                    <a href="#" class="btn-icon">
                                        <span class="icon-bg icon-compare"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>