<!-- Product tab gradient -->
<div class="product-tab">
    <div class="container container-240">
        <div class="ecome-heading style2 spc5">
            <ul class="product-tab-sw v2">
                <li class = 'active'><a data-toggle="tab" href="#ofertas" aria-expanded="true">Ofertas</a></li>
                <li class=""><a data-toggle="tab" href="#mejor_evaluados" aria-expanded="false">Mejor valorados</a></li>
                <li class=""><a data-toggle="tab" href="#nuevos" aria-expanded="false">Nuevos</a></li>
            </ul>
        </div>

        <div class="tab-content">

            <div id="ofertas" class="tab-pane fade in active">
                <div class="product-tab-pd js-multiple-row2">
                    {% for producto in productos_descuento %}
                        {% include 'productos/includes/productos/producto_item.html' %}
                    {% endfor %}
                </div>
            </div>

            <div id="mejor_evaluados" class="tab-pane fade">
                <div class="product-tab-pd js-multiple-row2">
                    {% for producto in productos_mejor_valorados %}
                        {% include 'productos/includes/productos/producto_item.html' %}
                    {% endfor %}
                </div>
            </div>

            <div id="nuevos" class="tab-pane fade">
                <div class="product-tab-pd js-multiple-row2">
                    {% for producto in productos_nuevos %}
                        {% include 'productos/includes/productos/producto_item.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>